    <div class="cv-container">
      <main>
        <section  class="cv-header">
          <div class="profile">
            <img src="../assets/images/Miguel-García-Melgar-2.png" alt="Miguel García Melgar">
            <div class="info">
              <h1>Miguel García Melgar</h1>
              <h2 class="role">Data Scientist</h2>
              <div class="two-columns">
                <div class="column">
                  <p>📍 Barcelona</p>
                  <p>📧 <a href="mailto:mikongame@gmail.com">mikongame@gmail.com</a></p>
                  <p>📞 <a href="tel:+34660906184">660 906 184</a></p>
                </div>
                <div class="column">
                  <p>🔗 <a href="https://linkedin.com/in/mikongame" target="_blank" rel="noopener">LinkedIn</a></p> 
                  <p>🔗 <a href="https://github.com/mikongame" target="_blank" rel="noopener">GitHub</a></p>
                  <p>⚤ He/Him/His</p>
                </div>
              </div>
            </div>
          </div>
        </section>
  
        <section class="section summary">
          <h2>📌 Personal Summary</h2>
          <p><strong>Data Scientist</strong> hooked to People Analytics with a background in Psychology, HR Mgmt and IT Recruitment. I would describe myself as being <strong>super-curious</strong>, quite <strong>assertive</strong> and <strong>honest</strong>, <strong>analytical</strong>, and pretty <strong>polyvalent</strong>.</p>
        </section>

        <section class="two-columns">
          <div class="column column-1">
            <section class="section experience">
              <h2>💼 Professional Experience</h2>
              <ul>
                <li><a href="https://www.mikoninsights.es"><strong>Mikon Insights</a> - Marketing & People Analytics Consultant</strong> (01/25 - present) | Sant Vicenç dels Horts
                <p>I help businesses turn data into strategic decisions in Marketing & HR. My approach integrates Marketing Analytics, People Analytics, and Psychology, enabling organizations to enhance employee engagement, optimize talent management, and improve marketing performance.</p></li>
                <li><a href="https://www.lewagon.com/es-ES/data-science-course"><strong>Le Wagon</a> - Data Science Lead Teacher</strong> (08/24 - 09/24) | Barcelona
                <p>Giving lectures on Python, Data Science and AI at the Le Wagon Data & AI Bootcamp. In charge of guiding students during their final projects.</p></li>
                <li><strong>Freelance Data Scientist</strong> (12/23 - 02/24) | Sant Vicenç dels Horts
                <p>Collaborated on a startup project for bus route optimization in Mexico using machine learning.
                <ul class="list-in-list">
                  <li><strong>Simulated scenarios</strong> with a Rio de Janeiro bus positioning dataset.</li>
                  <li>Conducted <strong>data cleaning and manipulation</strong> in Python.</li>
                  <li>Created <strong>interactive visualizations (Plotly, Streamlit)</strong>.</li>
                  <li>Trained <strong>supervised and unsupervised machine learning models</strong> for preliminary insights.</li>
                </ul>
                </p></li>
                <li><a href="https://www.grupbancsabadell.com/corp/es/inicio.html"><strong>Banco Sabadell</a> - Data Scientist</strong> (01/21 - 10/22) | Sant Cugat del Vallés
                <p>Data Scientist with main duty of elaborating PoC to evaluate NLP models:
                <ul>
                  <li><strong>Language detector.</strong></li>
                  <li><strong>Anonymizer</strong></li>
                  <li>Catalan language fine-tuned models based on BERTa optimized for <strong>NER, POS, QA, STS and TC.</strong></li>
                </ul>
                </p></li>
              </ul>
            </section>
  
            <section class="section certifications">
              <h2>📜 Certifications</h2>
              <ul>
                <li><strong>Big Data by Barcelona Activa IT Academy</strong> (Apr 2024)</li>
                <li><strong>Certified People Analytics Specialist</strong> (Sep 2023)</li>
                <li><strong>HR Data Science in R</strong> (Nov 2022)</li>
                <li><a href="https://scrummanager.com/website/c/profile/member.php?id=41500"><strong>Scrum Master</strong> (Oct 2022)</a></li>
                <li><strong>Certificate of Proficiency in English</strong> (Jul 2017)</li>
              </ul>
            </section>
          </div>
  
          <div class="column column-2">
            <section class="section education">
              <h2>🎓 Education</h2>
              <ul>
                <li><a href="https://www.uoc.edu/es/estudios/masters/master-universitario-data-science"><strong>MSc, Data Science</strong> - Universitat Oberta de Catalunya (2022 - Present)</a></li>
                <li><a href="https://appsfactory.cat/"><strong>Apps Development</strong> - Apps Factory (2025-Present)</a></li>
                <li><a href="https://www.hackio.com/developer"><strong>Bootcamp Web Development</strong> - ThePower (2024-Present)</a></li>
                <li><strong>E-Shops Design & Digital Marketing</strong> - DiferentMent (2024)</li>
                <li><a href="https://www.ironhack.com/es/data-analytics"><strong>Bootcamp Data Analytics</strong> - Ironhack (2019 - 2020)</a></li>
                <li><a href="https://www.eaeprogramas.es/masters-online-semipresenciales/rrhh"><strong>Master's in HR Management</strong> - EAE Business School (2018 - 2020)</a></li>
                <li><a href="https://www.ub.edu/portal/web/psicologia/graus/-/ensenyament/detallEnsenyament/4453477/24"><strong>BSc, Psychology</strong> - Universitat de Barcelona (2014 - 2018)</a></li>
                <li><a href="https://www.uva.nl/en/programmes/bachelors/psychology/psychology.html?origin=0UW%2FNlzHRVCfgfmL3cdmVg&cb"><strong>BSc, Psychology</strong> - Universiteit van Amsterdam (2016 - 2017)</a></li>
              </ul>
            </section>
  
            <section class="section languages">
              <h2>🌍 Languages</h2>
              <p><strong>English</strong> (C2) | <strong>Spanish</strong> (Native) | <strong>Catalan</strong> (Native)</p>
            </section>
  
            <section class="section projects">
              <h2>🛠️ Projects</h2>
              <ul>
                <li><a href="https://www.academia.edu/72530074/An%C3%A1lisis_de_redes_sociales_y_grafos_Concentraci%C3%B3n_LGTBI_el_15D_en_Sol"><strong>Social Networks Analysis of LGBTQ+ protest</strong> (Jan 2022 - Feb 2022)</a></li>
                <li><a href="https://www.academia.edu/44219702/Descubriendo_People_Analytics_Ciencia_de_Datos_en_Recursos_Humanos"><strong>People Analytics: Data Science in HR</strong> (Jun 2020 - Oct 2020)</a></li>
                <li><a href="https://github.com/mikongame/Module-3-Project-2-ML-Fraud-Detection/tree/develop/your-code"><strong>Job Offers' Fraud Detection with NLP</strong> (Apr 2020 - Jul 2020)</a></li>
                <li><a href="https://github.com/mikongame/NLP-to-predict-Myers-Briggs-Personality-Type"><strong>Myers-Briggs Personality Type Prediction</strong> (May 2020 - Jun 2020)</a></li>
                <li><a href="https://github.com/mikongame/project-tableau/tree/master/your-code"><strong>Pokémon BI on Tableau</strong> (Apr 2020)</a></li>
              </ul>
            </section>
          </div>
        </section>
        <section class="section skills">
          <h2>🚀 Skills</h2>
          <div class="skill-icons">
            <div class="skill"><img src="../assets/icons/python.png" alt="Python"><span>Python</span></div>
            <div class="skill"><img src="../assets/icons/nlp.png" alt="NLP"><span>NLP</span></div>
            <div class="skill"><img src="../assets/icons/pngegg (1).png" alt="SQL"><span>SQL</span></div>
            <div class="skill"><img src="../assets/icons/New_Power_BI_Logo.svg" alt="Power BI"><span>Power BI</span></div>
            <div class="skill"><img src="../assets/icons/pngegg.png" alt="Tableau"><span>Tableau</span></div>
            <div class="skill"><img src="../assets/icons/js.png" alt="JavaScript"><span>JavaScript</span></div>
            <div class="skill"><img src="../assets/icons/PHP-logo.svg" alt="PHP"><span>PHP</span></div>
            <div class="skill"><img src="../assets/icons/brain.png" alt="Machine Learning"><span>Machine Learning</span></div>
            <div class="skill"><img src="../assets/icons/analytical-skills.png" alt="People Analytics"><span>People Analytics</span></div>
          </div>
        </section>
      </main>
    </div>
