<footer>
  <p>&copy; 2024 Mikon Insights. Todos los derechos reservados.</p>
  <div class="social-icons">
    <!-- Enlace a LinkedIn -->
    <a href="https://www.linkedin.com/company/mikon-insights" target="_blank">
      <img src="assets/icons/linkedin-icon.png" alt="LinkedIn">
    </a>
    <!-- Enlace a Email -->
    <a href="mailto:mikoninsights@gmail.com    ">
      <img src="assets/icons/email-icon.png" alt="Email">
    </a>
    <!-- Enlace a Instagram -->
    <a href="https://www.instagram.com/mikoninsights/" target="_blank">
      <img src="assets/icons/instagram-icon.png" alt="Instagram">
    </a>
    <!-- Enlace a Twitter (X) -->
    <a href="https://x.com/MikonInsights" target="_blank">
      <img src="assets/icons/twitter-icon.png" alt="X">
    </a>
  </div>
</footer>

