<section class="projects">
  <h2>Transformamos datos en resultados</h2>
  <div class="project-container">
      <div class="project">
          <h3>Optimización del ROI</h3>
          <p>Aumento del ROI en un 25% mediante estrategias basadas en análisis de datos.</p>
      </div>
      <div class="project">
        <h3>Reducción de la Rotación</h3>
        <p>Descubre cómo logramos un ahorro de más de $130 millones prediciendo el tiempo hasta la salida de empleados.</p>
        <a href="#case-study" class="cta-btn">Leer más</a>
      </div>      
  </div>
</section>
